<div class='container'>
  <!-- User Profile Page -->
  <h2>Welcome back!</h2>

  <h2>Your Profile</h2>

  <form method="post" action="/logout">
    <input type="hidden" name="_method" value="delete">
    <input type="submit" value="Logout">
  </form>
</div>