<h1>MyDICEToken</h1>

<div class="nested-container">
  <p>Current Etheroll profits are at <span id="quarterly-profits-usd" class="bold">$0.00</span> ( <span id="quarterly-profits-eth" class="bold">0.000000 ETH</span> )</p>
</div>

<div class="nested-container">
  <p>Your share of the profits given <input type="number" class="dice-token-count" value=0> DICE tokens is <span id="quarterly-dividend-dollar" class="bold">$0.00</span> ( <span id="quarterly-dividend-eth" class="bold">0.000000 ETH</span> )</p>
</div>

<div class="nested-container">
  <p>Value of your DICE stack given <input type="number" class="dice-token-count" value=0> DICE tokens is <span id="total-value-dollar" class="bold">$0.00</span> ( <span id="total-value-eth" class="bold">0.000000 ETH</span> )</p>
</div>

<div class="nested-container">
  <p>ETH rate: <span id="current-eth-rate" class="bold">$0.00</span></p>
  <p>DICE rate: <span id="current-dice-rate" class="bold">0.000000 ETH</span></p>
</div>