<h1>EthToken</h1>

<div class="nested-container">
  <p>Current Etheroll profits are at <span id="quarterly-profits-usd" class="bold"></span> ( <span id="quarterly-profits-eth" class="bold"></span> )</p>
</div>

<div class="nested-container">
  <p>Your share of the profits given <input type="number" class="dice-token-count"> DICE tokens is $<span id="quarterly-dividend-dollar"></span> ( <span id="quarterly-dividend-eth"></span> ETH )</p>
</div>

<div class="nested-container">
  <p>Value of your DICE stack given <input type="number" class="dice-token-count"> DICE tokens is $<span id="total-value-dollar"></span> ( <span id="total-value-eth"></span> ETH )</p>
</div>

<div class="nested-container">
  <p>ETH rate: <span id="current-eth-rate" class="bold"></span></p>
  <p>DICE rate: <span id="current-dice-rate" class="bold"></span></p>
</div>